%header.page__menu
  .page__menu__title
    = link_to main_app.root_path, class: 'brand_link menu_entry' do
      = image_tag 'logo.png', class: 'page__menu__logo'
      = Elabs.site_name
    %a.menu_entry.menu_button.menu_button--for-tiny{ href: '#', onclick: 'toggleSecondaryMenu()' }= icon 'bars', ['fw']

  .page__menu__group
    = active_link_to :projects, class: 'menu_entry' do
      = icon 'cogs', %w[fw icon]
      = _('Projects')
    = active_link_to :articles, class: 'menu_entry' do
      = icon 'font', %w[fw icon]
      = _('Articles')
    = active_link_to :notes, class: 'menu_entry' do
      = icon 'sticky-note', %w[fw icon]
      = _('Notes')
    = active_link_to :albums, class: 'menu_entry' do
      = icon 'book', %w[fw icon]
      = _('Albums')
    = active_link_to :uploads, class: 'menu_entry' do
      = icon 'file', %w[fw icon]
      = _('Uploads')

    .menu_entry.dropdown
      %a{ href: '#' }
        = icon 'ellipsis-h', ['fw']
      .dropdown__menu.dropdown__menu--right
        = active_link_to :users, class: 'menu_entry' do
          = icon 'users', %w[fw icon]
          = _('Authors')
        = active_link_to :tags, class: 'menu_entry' do
          = icon 'tags', %w[fw icon]
          = _('Tags')
        = active_link_to :licenses, class: 'menu_entry' do
          = icon 'license', %w[fw icon]
          = _('Licenses')
        = active_link_to :languages, class: 'menu_entry' do
          = icon 'language', %w[fw icon]
          = _('Languages')

  %a.menu_entry.menu_button.menu_button--for-small{ href: '#', onclick: 'toggleSecondaryMenu()' }= icon 'bars', ['fw']

  .page__menu__group.page__menu__group--secondary#secondary-menu
    %a.close_menu_button{ onclick: 'toggleSecondaryMenu()' }= icon 'times', %w[fw 2x]
    %a.menu_entry{ href: url_for(params: { show_nsfw: !show_nsfw? }) }
      = icon show_nsfw? ? 'eye-slash' : 'eye', %w[fw icon]
      = show_nsfw? ? _('Hide NSFW') : _('Show NSFW')
    .menu_entry.dropdown
      %a{ href: '#' }
        = icon 'language', ['fw']
        = _('Language')
      .dropdown__menu
        = render 'elabs/layouts/language_menu'
    - unless user_signed_in?
      = active_link_to new_user_session_path, class: 'menu_entry' do
        = icon 'sign-in-alt', %w[fw icon]
        = _('Login')
    - if user_signed_in?
      = render 'elabs/layouts/menu_member'
      - if current_user.admin?
        = render 'elabs/layouts/menu_admin'
