!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title= page_title(@page_title, _('Admin'))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = render 'layouts/favicons'
  %body.page.page--admin
    %noscript
      = _('Javascript seems to be disabled.')
    = render 'elabs/layouts/menu'

    - if @page_title # This variable should be set in views (or controllers)
      %h1.page__title= @page_title

    .page__content
      .page__content__container
        = yield

    = render 'elabs/layouts/footer'
