!!!
%html{ lang: locale }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %meta{ name: 'viewport',
           content: 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'ie=edge' }
    = csrf_meta_tags
    %title= page_title(@page_title)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = render 'layouts/favicons'
    = auto_discovery_link_tag :rss, albums_url(format: :rss, show_nsfw: show_nsfw?)
    = auto_discovery_link_tag :rss, articles_url(format: :rss, show_nsfw: show_nsfw?)
    = auto_discovery_link_tag :rss, notes_url(format: :rss, show_nsfw: show_nsfw?)
    = auto_discovery_link_tag :rss, projects_url(format: :rss, show_nsfw: show_nsfw?)
    = auto_discovery_link_tag :rss, uploads_url(format: :rss, show_nsfw: show_nsfw?)
  %body.page#top
    %noscript
      = _('Javascript seems to be disabled.')
    = render 'elabs/layouts/menu'

    .page__wrapper

      = render 'elabs/layouts/announcements'

      .page__header

        - if @page_title # This variable should be set in views (or controllers)
          %h1.page__header__title= @page_title

        - if render_filters?
          .page__header__actions
            %a.page__header__actions_button{ href: '#' }
              = icon 'filter', ['fw']
            = render "elabs/#{controller_name}/filters"

      = render 'elabs/layouts/flash_messages'

      .page__content
        .page__content__container
          = yield

    .modal#report-modal
      .modal__overlay{ onclick: 'closeModal("report-modal")' }
      .modal__window
        .modal__window__title
          %h1= _('Report this page')
          .modal__close-button
            %i.fa.fa-times{ onclick: 'closeModal("report-modal")' }
        .modal__window__content
          = render 'elabs/reports/form', new_report: @new_report

    = render 'elabs/layouts/footer', can_report: true

  -# Widget templates
  = render 'elabs/layouts/shortcodes/widgets/vue/all_widgets'
