@import "elabs/style";

.page {
  &__menu {
    &__logo {
      display: none;
    }

    @include respond-to('medium-up') {
      a.brand_link {
        margin-left: 64px;
      }
      .page__menu__logo {
        display: block;
        max-width: 64px;
        position: absolute;
        top: $spacer-medium;
        left: $spacer-medium;
      }
    }
  }

  &__info {
    @extend %content-container;

    .alert--experimental {
      background-color: darken($color-brand, 15%);
      padding: $spacer-tiny;
    }
  }
}
