-# Apple
- %w[57 76 120 152 167 180].each do |size|
  = favicon_link_tag "apple-touch-icon-#{size}x#{size}.png",
    rel: 'apple-touch-icon', type: 'image/png', sizes: "#{size}x#{size}"
-# Android
= favicon_link_tag 'icon.png', rel: 'icon', type: 'image/png', sizes: '128x128'
= favicon_link_tag 'icon-hd.png', rel: 'icon', type: 'image/png', sizes: '192x192'
-# Other devices
- %w[16 32].each do |size|
  = favicon_link_tag "favicon-#{size}x#{size}.png", rel: 'icon', type: 'image/png', sizes: "#{size}x#{size}"
-# Regular favicon
= favicon_link_tag 'favicon.ico'
